.sidenav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #E0E0E0; /* veya istediğiniz renk */
  }
  
  .sidenav-footer .nav-item {
    margin: 0;
  }
  
  .sidenav-footer .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  